/**
 * @since 2016-09-30 15:52
 * @author vivaxy
 */
:root {
  --white: #fff;
  --dark: #333;
  --lighter: #757575;
  --highlight: #de2f1b;
  --highlight-darker: #ff331b;

  --border: #efefef;
  --background: #f7f7f7;

  --code: #d52d1a;

  --transition-time: 500ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #222;
    --dark: #ddd;
    --lighter: #8a8a8a;
    --highlight: #ff3e29;
    --highlight-darker: #b72e1a;

    --border: #222;
    --background: #181818;

    --code: #e64937;
  }
}
