/**
 * @since 2016-09-30 15:52
 * @author vivaxy
 */

@white: #fff;
@dark: #333;
@lighter: #999;
@highlight: #e74c3c;
@highlight-darker: #c0392b;

@border: #efefef;
@background: #f7f7f7;

@code: #d14;
