/**
 * @since 2016-09-30 14:51
 * @author vivaxy
 */
.container {
    .article {
        .article-title {
            font-size: 2rem;
            line-height: 2rem;
            color: #666;
        }
        .article-date {
            text-align: right;
            font-size: 2rem;
            line-height: 2rem;
            color: #999;
        }
    }
}
