/**
 * @since 2016-09-30 14:51
 * @author vivaxy
 */

@import './colors';

.container {
    .article {
        display: block;
        margin: 2rem 0;
        .article-title {
            font-size: 2rem;
            color: @dark;
        }
        .article-date {
            text-align: right;
            font-size: 1.4rem;
            color: @lighter;
        }
    }
    .article:hover {
        .article-title {
            color: @highlight;
        }
        .article-date {
            color: @highlight;
        }
    }
}
