/**
 * @since 2016-09-30 14:51
 * @author vivaxy
 */

@import 'colors';

.container {
    .highlighter-rouge {
        .highlight {
            background-color: @background;
            border: 0.1rem solid @border;
            code {
                background-color: transparent;
                border: 0;
            }
        }
    }
}
