/**
 * @since 2016-09-30 14:09
 * @author vivaxy
 */
/**
 * @since 2016-09-30 14:18
 * @author vivaxy
 */
/**
 * @since 2016-09-30 15:52
 * @author vivaxy
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 1.2rem/1.5 "arial", "\5b8b\4f53";
  /* \5b8b\4f53 => 宋体 */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: "couriernew", "courier", "monospace";
}
small {
  font-size: 1.2rem;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #333;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * @since 2016-09-30 14:19
 * @author vivaxy
 */
.highlight {
  overflow: auto;
  word-wrap: normal;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
.highlight code {
  display: block;
  padding: 0.9rem;
  font-size: 1.3rem;
  line-height: 1.428571429;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f7f7f7;
  border: 0.1rem solid #efefef;
  border-radius: 0.3rem;
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
  /* Generic.Deleted.Specific */
}
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
  /* Generic.Inserted.Specific */
}
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .m {
  color: #009999;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #009999;
}
/**
 * @since 2016-09-30 14:51
 * @author vivaxy
 */
* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* selection */
*::selection {
  background: #e74c3c;
  color: #fff;
}
html {
  font-size: 10px;
}
body {
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: "\5b8b\4f53", "georgia", "times new roman", "times", "serif";
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Helvetica Neue", "Helvetica", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "SimSun", "sans-serif";
  font-weight: 400;
}
h1 {
  font-size: 2.6rem;
  margin: 2.6rem 0;
}
h2 {
  font-size: 2.4rem;
  margin: 2.4rem 0;
}
h3 {
  font-size: 2rem;
  margin: 2rem 0;
}
h4 {
  font-size: 1.8rem;
  margin: 1.8rem 0;
}
h5 {
  font-size: 1.6rem;
  margin: 1.6rem 0;
}
textarea,
input,
a {
  -webkit-tap-highlight-color: rgba(217, 217, 217, 0.5);
}
a,
a:visited {
  color: #e74c3c;
  transition: color 0.5s;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  outline: none;
}
a:hover {
  color: #c0392b;
  text-decoration: none;
}
ul {
  list-style: disc;
  margin: 1.5rem 0 1.5rem 1.5rem;
}
ol {
  list-style: decimal-leading-zero;
  margin: 2rem 0 2rem 1.5rem;
}
img {
  max-width: 100%;
  display: block;
}
blockquote {
  padding: 1.6rem;
  overflow: auto;
  background-color: #f7f7f7;
  border-radius: 0.3rem;
}
p {
  margin: 0.8rem 0;
}
code {
  color: #d14;
  background-color: #f7f7f7;
  border: 0.1rem solid #efefef;
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
  word-wrap: normal;
}
table thead tr,
table tbody tr {
  background-color: #fff;
  border-top: 0.1rem solid #efefef;
}
table thead tr th,
table tbody tr td {
  padding: 0.6rem 1.4rem;
  border: 0.1rem solid #efefef;
}
table tbody tr:nth-child(2n) {
  background-color: #f7f7f7;
}
.container {
  position: relative;
  width: 600px;
  margin: 2rem auto;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
/* media screen */
@media screen and (max-width: 600px) {
  .container {
    width: auto;
    margin: 2rem;
  }
}
/* fonts */
@font-face {
  font-family: 'icomoon';
  src: url('/css/resource/icomoon/icomoon.eot?m0nlrt');
  src: url('/css/resource/icomoon/icomoon.eot?#iefixm0nlrt') format('embedded-opentype'), url('/css/resource/icomoon/icomoon.woff?m0nlrt') format('woff'), url('/css/resource/icomoon/icomoon.ttf?m0nlrt') format('truetype'), url('/css/resource/icomoon/icomoon.svg?m0nlrt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icomoon {
  font-family: icomoon;
}
/**
 * @since 2016-09-30 15:06
 * @author vivaxy
 */
.container .title {
  font-size: 3rem;
  text-align: center;
  margin: 3rem 0;
}
/**
 * @since 2016-09-30 14:51
 * @author vivaxy
 */
.container .toolbar-top {
  margin: 3rem 0;
}
.container .toolbar-top:after {
  content: '';
  display: block;
  clear: both;
}
.container .toolbar-top .accessories {
  float: left;
}
.container .toolbar-top .accessories .icomoon {
  font-size: 1.5rem;
  vertical-align: top;
}
.container .toolbar-top .pagination {
  float: left;
  margin-left: 1rem;
}
.container .toolbar-top .pagination .page-number {
  font-size: 1.5rem;
  vertical-align: top;
}
.container .toolbar-top .pagination .icomoon {
  font-size: 1.5rem;
  vertical-align: top;
}
.container .toolbar-top .about {
  float: right;
}
.container .toolbar-bottom {
  margin: 3rem 0;
}
.container .toolbar-bottom:after {
  content: '';
  display: block;
  clear: both;
}
.container .toolbar-bottom .accessories {
  float: left;
}
.container .toolbar-bottom .accessories .icomoon {
  font-size: 1.5rem;
  vertical-align: top;
}
.container .toolbar-bottom .pagination {
  float: left;
  margin-left: 1rem;
}
.container .toolbar-bottom .pagination .page-number {
  font-size: 1.5rem;
  vertical-align: top;
}
.container .toolbar-bottom .pagination .icomoon {
  font-size: 1.5rem;
  vertical-align: top;
}
.container .toolbar-bottom .about {
  float: right;
}
/**
 * @since 2016-09-30 14:51
 * @author vivaxy
 */
.container .article {
  display: block;
  margin: 2rem 0;
}
.container .article .article-title {
  font-size: 2rem;
  color: #333;
}
.container .article .article-date {
  text-align: right;
  font-size: 1.4rem;
  color: #999;
}
.container .article:hover .article-title {
  color: #e74c3c;
}
.container .article:hover .article-date {
  color: #e74c3c;
}
/**
 * @since 2016-09-30 14:51
 * @author vivaxy
 */
.container .highlighter-rouge .highlight {
  background-color: #f7f7f7;
  border: 0.1rem solid #efefef;
}
.container .highlighter-rouge .highlight code {
  background-color: transparent;
  border: 0;
}
/**
 * @since 2016-09-30 14:51
 * @author vivaxy
 */
.footer {
  color: #999;
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem 0;
}
/**
 * @since 2017-03-24 15:21:20
 * @author vivaxy
 */
/**
 * @since 2017-03-27 10:01:58
 * @author vivaxy
 */
.about-section {
  margin: 1.5rem 0;
}
.about-section a:before {
  content: '🔗';
  margin-right: 4px;
}
/**
 * @since 2017-05-08 10:58:13
 * @author vivaxy
 */
.turbolinks-progress-bar {
  height: 2px;
  background-color: #e74c3c;
}
