@import url(http://fonts.googleapis.com/css?family=Ubuntu:400);
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	background: rgb(230, 230, 230);
	font-family: Ubuntu, Microsoft YaHei, Helvetica, sans-serif;
}
p {
	font-size: 16px;
	margin: 10px;
	line-height: 24px;
}
strong {
	font-size: 24px;
}
ul {
	list-style: disc;
}
ol {
	list-style: octal;
}
li {
	margin: 0px 0px 0px 30px;
}
h1 {
	margin: 50px;
	display: inline-block;
	font-size: 32px;
	font-weight: bold;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
pre,code {
	color: rgb(52, 152, 219);
}
span {
	font-size: 16px;
}
a {
	color: rgb(231, 76, 60);
	transition: color 0.5s;
	text-decoration: none;
}
a:hover {
	color: rgb(192, 57, 43);
	text-decoration: underline;
}
.articlelist {
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-size: 24px;
}
.articlelist li {
	margin: 5px 0px;
}
.body {
	margin: 50px 10%;
	padding: 10px 2%;
	background: white;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}
.footer {
	color: rgb(100, 100, 100);
	font-size: 15px;
}
.date {
	color: rgb(100, 100, 100);
	font-size: 15px;
	margin: 0px 10px;
}
.rem {
	color: rgb(150, 150, 150);
}
@media screen and (max-width: 960px) {
	.body {
		margin: 0px;
		padding: 10px 0px;
		background: white;
		box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	}
	.date {
		display: block;
		line-height: 15px;
		margin-left: 60px;
	}
	.articlelist a {
		display: block;
		height: 36px;
		line-height: 36px;
		background: rgb(231, 76, 60);
		box-shadow: 0px 0px 1px rgba(231, 76, 60 ,0.5);
		color: rgba(255, 255, 255, 1);
		text-shadow: 0px 0px 1px rgba(255,255,255,0.5);
		transition: background 0.5s;
		font-size: 18px;
		margin: 0px 20px;
		padding: 0px 10px;
	}
	.articlelist a:hover {
		background: rgb(192, 57, 43);
		text-decoration: none;
	}
	.articlelist .date {
		margin-left: 10px;
	}
	h1 {
		margin: 0px 50px;
	}
	.ds-thread {
		margin: 0px 10px;
	}
}