body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(230, 230, 230);
    font-family: Ubuntu, Microsoft YaHei, Helvetica, sans-serif;
}

.container {
    position: relative;
    width: 800px;
    margin: 0 auto;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}

.card {
    display: block;
    margin: 20px 0;
    padding: 20px 40px;
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    outline: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: background 0.5s, color 0.5s;
    word-wrap: break-word;
    overflow: hidden;
}

a.card:hover {
    background: rgb(255, 255, 255);
    color: rgb(192, 57, 43);
    text-decoration: none;
}

.card .date {
    color: rgb(100, 100, 100);
    transition: color 0.5s;
}

a.card:hover .date {
    color: rgb(192, 57, 43);
}

/* hover-left */
.hover-left .content .date {
    text-align: right;
}

.hover-left .content {
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
}

.hover-left .icon-arrow-left {
    height: 0;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transform: translateX(20%);
    -webkit-transform: translateX(20%);
    opacity: 0;
}

.hover-left .icon-arrow-left:after {
    position: absolute;
    top: -32px;
    text-align: center;
    width: 100%;
    height: 0;
    font-size: 32px;
    font-family: "icomoon";
    content: "\e603";
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hover-left:hover .content {
    transform: translateX(20%);
    -webkit-transform: translateX(20%);
    opacity: 0;
}

.hover-left:hover .icon-arrow-left {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

/* hover-top */
.hover-top {
    padding: 0;
}

.hover-top .content {
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.hover-top .content .date {
    padding: 20px;
    text-align: center;
}

.hover-top .content:after {
    position: absolute;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 32px;
    font-family: "icomoon";
    content: "\e600";
    line-height: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hover-top:hover .content {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

/* selection */
*::selection {
    background: rgb(231, 76, 60);
    color: rgb(255, 255, 255);
}

code {
    color: rgb(231, 76, 60);
}

/* media screen */
@media screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
    .card {
        padding: 10px 20px;
        margin: 10px 0;
    }
}

/* post */
h1 {
    text-align: center;
}

a {
    color: rgb(231, 76, 60);
    transition: color 0.5s;
    text-decoration: none;
}

a:hover {
    color: rgb(192, 57, 43);
    text-decoration: underline;
}

ul {
    list-style: disc;
}

img {
    max-width: 100%;
}

blockquote {
    padding: 16px;
    overflow: auto;
    background-color: #f7f7f7;
    border-radius: 3px;
}

/* fonts */
@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-L.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('icomoon/icomoon.eot?m0nlrt');
    src: url('icomoon/icomoon.eot?#iefixm0nlrt') format('embedded-opentype'),
    url('icomoon/icomoon.woff?m0nlrt') format('woff'),
    url('icomoon/icomoon.ttf?m0nlrt') format('truetype'),
    url('icomoon/icomoon.svg?m0nlrt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}