---
layout: frame
title: About
---

<div class="toolbar-top">
    {% include toolbar-other.html %}
</div>
<div class="about-section">
    <h4>👨‍💻 My Profile:</h4>
    <p>I am a software engineer.</p>
    <p>Currently working on JavaScript.</p>
    <p>And working at Meituan-Dianping.</p>
</div>
<div class="about-section">
    <h4>👤 My links:</h4>
    <p><a href="https://github.com/vivaxy">GitHub</a></p>
    <p><a href="https://www.douban.com/people/vivaxy/">Douban</a></p>
    <p><a href="http://weibo.com/vivaxy">Weibo</a></p>
    <p><a href="https://twitter.com/vivaxy2012">Twitter</a></p>
    <p><a href="https://www.instagram.com/vivaxy/">Instagram</a></p>
    <p><a href="https://www.facebook.com/vivaxy">Facebook</a></p>
</div>
<div class="about-section">
    <h4>👥 Friends' Sites:</h4>
    <p><a href="https://www.haow.ca/blog/">Chapter09's space</a></p>
    <p><a href="https://yangchenglong.github.io/">Blog of Chenglong Yang</a></p>
    <p><a href="https://www.jackzxl.net/">张歆琳</a></p>
    <p><a href="https://www.vanadis.cn/">绯雨闲丸 Blog</a></p>
</div>
<div class="toolbar-bottom">
    {% include toolbar-other.html %}
</div>
