@import url(http://fonts.googleapis.com/css?family=Ubuntu:400);
body {
	font-family: Ubuntu, Helvetica, sans-serif;
	margin: 0px;
	padding: 20px;
	background: rgb(236, 240, 241);
	font-size: 16px;
}
a {
	color: rgb(231, 76, 60);
	transition: color 0.5s;
}
a:hover {
	color: rgb(192, 57, 43);
}
ul {
	list-style: none;
	line-height: 50px;
}
.footer {
	color: rgb(52, 73, 94);
	font-size: 16px;
	padding: 
}
@media screen and (max-width: 600px){
}