<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="shortcut icon" href="/css/resource/vivaxy.icon.png">
    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <link rel="alternate" type="application/atom+xml" title="vivaxy blog" href="/atom.xml"/>
    <title>{{ page.title }} - vivaxy</title>
</head>
<body>
<div class="container">
    {% include title.html %}
    {{ content }}
    {% include friends-sites.html %}
    {% include footer.html %}
</div>
</body>
<script type="text/javascript" src="/js/analysis/ba.js"></script>
</html>
