<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="shortcut icon" href="/css/vivaxy.icon.png">
    <link type="text/css" rel="stylesheet" href="/css/reset.css">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <link type="text/css" rel="stylesheet" href="/css/syntax.css">
    <link rel="alternate" type="application/atom+xml" title="vivaxy blog" href="/atom.xml"/>
    <title>{{ page.title }}</title>
</head>
<body>
<div class="container">
    {{ content }}
    <a href="javascript:document.body.scrollIntoView(true)" class="card hover-top">
        <div class="content">
            <div class="date">© Copyright 2011 ~ 2016 by vivaxy</div>
        </div>
    </a>
</div>
</body>
<script type="text/javascript" src="/js/analysis/ba.js"></script>
</html>
