<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
  <meta name="theme-color" content="#e74c3c" />
  <meta name="description" content="{{ page.title }}" />
  <meta name="keywords" content="{{ page.tags | join: ', ' }}" />
  <meta name="author" content="vivaxy" />
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <link rel="apple-touch-icon" href="/css/resource/vivaxy.icon.58x58.png">
  <link rel="shortcut icon" href="/css/resource/vivaxy.icon.58x58.png">
  <link type="text/css" rel="stylesheet" href="/css/index.min.css">
  <link rel="alternate" type="application/atom+xml" title="vivaxy blog" href="/atom.xml" />
  <link rel="manifest" href="/manifest.json">
  <title>{{ page.title }} - vivaxy's Blog</title>
</head>
<body>
<div class="container">
  {% include title.html %}
  {{ content }}
  {% include footer.html %}
</div>
<script type="text/javascript" src="/js/index.min.js"></script>
</body>
</html>
